@charset "UTF-8";
/* CSS Document */

.good {
	color:green;
}

section {
	position:relative;
	top:-340px;
}

.chris {
	background:#936;
	margin-top:50px;
	color:white;
	font-size:18px;
	width:300px;
	padding:10px;
}
